doctype html
html
    head
        title= title
        link(href = 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700', rel = 'stylesheet', type = 'text/css')
        link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/templatemo-style.css', rel='stylesheet')
    body
        input(id='state', type='hidden', value=state)
        block content
        script(src='/dist/app.bundle.js', type='text/javascript')
